.result {
  height: 60px;
    background-color: #bbb;
    width: 400px;
}

.result p {
  font-size: 40px;
  margin: 5px;

}
.result-button {
  width:400px;
}

.calculator-body {
  display:flex;
  max-width: 700px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 100px;
    height: 60px;
    font-size: 30px;
}
.clear {
  background-color: #A9A9A9;
  width: 400px;
  border-width: 0;
}
.history {
  
  width: 40%;
    min-height: 100px;
    margin-top: 5px;
    overflow: scroll;
    padding-left: 10px;
    border: solid 1px black;
}
.history p{
  font-size: 20px;
  margin: 5px;
}
